<div class="row">
  <span class="pull-right" style="padding-right:10px;">
    <a href="#" title="Refresh logs" ng-click="refreshLogs()">
      <i class="glyphicon glyphicon-refresh"></i>
    </a>
  </span>
  <div class="col-md-12">

    <div class="horizontal-scroll">
      <div class="form-group select-page-size-wrap ">
        <label>Rows per page
          <select class="form-control selectpicker show-tick" title="Rows per page" selectpicker
                  ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
          </select>
        </label>
      </div>
      <table class="table" st-table="smartTableData" st-safe-src="smartTableDataSrc">
        <thead>
        <tr class="sortable ">
          <th st-sort="updated_at" st-sort-default="true">Date</th>
          <th st-sort="widget">Widget</th>
          <th st-sort="type">Type</th>
          <th st-sort="command">Command</th>
          <th st-sort="output">Output</th>
        </tr>
        <!-- field specific search replaced with global search
        <tr>
          <th><input st-search="updated_at" placeholder="Search Date" class="input-sm form-control search-input" type="search"/></th>
          <th><input st-search="widget" placeholder="Search Widget" class="input-sm form-control search-input"
                     type="search"/></th>
          <th><input st-search="type" placeholder="Search Type" class="input-sm form-control search-input"
                     type="search"/></th>
          <th><input st-search="command" placeholder="Search Command" class="input-sm form-control search-input"
                     type="search"/></th>
          <th><input st-search="output" placeholder="Search Output" class="input-sm form-control search-input"
                     type="search"/></th>
        </tr>
        -->
        <tr>
          <th colspan="5"><input st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="log in smartTableData">
          <td>{{log.updated_at}}</td>
          <td>{{log.widget}}</td>
          <td>{{log.type}}</td>
          <td>{{log.command}}</td>
          <td>{{log.output}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>

    </div>
  </div>
</div>
